[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory={{ k8s_dir }}/kubelet
ExecStart=/opt/k8s/kubelet/bin/kubelet \
  --bootstrap-kubeconfig=/opt/k8s/kubelet/cfg/kubelet-bootstrap.kubeconfig \
  --cert-dir=/opt/k8s/cert \
  --network-plugin=cni \
  --cni-conf-dir=/etc/cni/net.d \
  --cni-bin-dir=/opt/cniplugins/bin \
  --kubeconfig=/opt/k8s/kubelet/cfg/kubelet.kubeconfig \
  --config=/opt/k8s/kubelet/cfg/kubelet-config.yaml \
  --hostname-override={{ hostvars[inventory_hostname].hostname }} \
  --image-pull-progress-deadline=15m \
  --volume-plugin-dir={{ k8s_dir }}/kubelet/kubelet-plugins/volume/exec/ \
  --pod-infra-container-image=mirrorgooglecontainers/pause-amd64:3.1 \
  --logtostderr=true \
  --v=2
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
