[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
KillMode=process
Environment=NODE_NAME={{ hostvars[inventory_hostname].hostname }}
ExecStart=/opt/k8s/flanneld/bin/flanneld \
  --kube-subnet-mgr=true \
  --ip-masq=true \
  --kubeconfig-file=/opt/k8s/flanneld/cfg/flanneld.kubeconfig \
  -iface={{ hostvars[inventory_hostname].iface }} \
  --public-ip {{ hostvars[inventory_hostname].flanneld_ip }} \
  --healthz-ip {{ hostvars[inventory_hostname].flanneld_ip }} \
  --healthz-port {{ healthzPort }} \
  --v=2
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
