[Unit]
Description=SeaweedFS volume
Requires=network.target weedmaster1.service weedvolume1.service
After=network.target weedmaster1.service weedvolume1.service

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/local/bin/weed -v={{ loglevel }} filer  -ip={{ filerip }}  -master={{ weedmasterslist }} -port={{ filerport }} 
WorkingDirectory=/opt
SyslogIdentifier=seaweedfs-filer

[Install]
WantedBy=multi-user.target
