[Unit]
Description=SeaweedFS volume
After=network.target weedmaster.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/local/bin/weed -v={{ loglevel }} volume -dir={{ weedvolumedir }} -ip={{ weedvolumeip }} -max={{ weedvolumemax }} -mserver={{ masterserver }} -port={{ weedvolumeport }}
WorkingDirectory=/opt/weed
SyslogIdentifier=seaweedfs-volume

[Install]
WantedBy=multi-user.target
