[Unit]
Description=SeaweedFS master
After=network.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/local/bin/weed  -v={{ loglevel }} master -ip={{ masterip }} -mdir={{ weedmasterdir }} -port={{ weedmasterport }} -peers={{ weedmasterpeers }} -defaultReplication={{ weedreplication }}
WorkingDirectory=/opt/weed
SyslogIdentifier=seaweedfs-master

[Install]
WantedBy=multi-user.target
